<h3>Hello, {{ user }}</h3>

{% for object in page.object_list %}


<h4>{{object.id}}</h4> <br />
{{object.title}} <br />
{{object.text}} <br />
<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>

{% endfor %}

<nav>
    <ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p == page.number %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="?page={{ p }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
